adfTestssp/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfTestssp"
		},
		"ls_AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_AzureSqlDatabase1'"
		},
		"ls_input_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_input'"
		},
		"ls_outputadlsgen2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_outputadlsgen2'"
		},
		"ls_input1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_input1'"
		},
		"ls_input_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sspadls2410.dfs.core.windows.net/"
		},
		"ls_outputadlsgen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sspadls2510.dfs.core.windows.net/"
		},
		"ls_input1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sspadls2410.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"dbname": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_input')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_input_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_input_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_outputadlsgen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_outputadlsgen2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_outputadlsgen2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_input1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_input1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_input1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_inputemp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_input",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "emp_sample.csv",
						"fileSystem": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EmpID",
						"type": "String"
					},
					{
						"name": "EmpName",
						"type": "String"
					},
					{
						"name": "DeptID",
						"type": "String"
					},
					{
						"name": "Salary",
						"type": "String"
					},
					{
						"name": "Bonus",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "DOJ",
						"type": "String"
					},
					{
						"name": "Company",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_input')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_outputemp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_outputadlsgen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "empout.csv",
						"fileSystem": "output2511"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EmpID",
						"type": "String"
					},
					{
						"name": "EmpName",
						"type": "String"
					},
					{
						"name": "DeptID",
						"type": "String"
					},
					{
						"name": "Salary",
						"type": "String"
					},
					{
						"name": "Bonus",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "DOJ",
						"type": "String"
					},
					{
						"name": "Company",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_outputadlsgen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adfcdc1')]",
			"type": "Microsoft.DataFactory/factories/adfcdcs",
			"apiVersion": "2018-06-01",
			"properties": {
				"SourceConnectionsInfo": [
					{
						"SourceEntities": [
							{
								"name": "input26nov",
								"properties": {
									"schema": [
										{
											"name": "EmpID",
											"dataType": "string"
										},
										{
											"name": "EmpName",
											"dataType": "string"
										},
										{
											"name": "DeptID",
											"dataType": "string"
										},
										{
											"name": "Salary",
											"dataType": "string"
										},
										{
											"name": "Bonus",
											"dataType": "string"
										},
										{
											"name": "Gender",
											"dataType": "string"
										},
										{
											"name": "Country",
											"dataType": "string"
										},
										{
											"name": "City",
											"dataType": "string"
										},
										{
											"name": "DOJ",
											"dataType": "string"
										},
										{
											"name": "Company",
											"dataType": "string"
										}
									],
									"dslConnectorProperties": [
										{
											"name": "container",
											"value": "input26nov"
										},
										{
											"name": "fileSystem",
											"value": "input26nov"
										},
										{
											"name": "allowSchemaDrift",
											"value": false
										},
										{
											"name": "inferDriftedColumnTypes",
											"value": false
										}
									]
								}
							}
						],
						"Connection": {
							"linkedService": {
								"referenceName": "ls_input1",
								"type": "LinkedServiceReference"
							},
							"linkedServiceType": "AzureBlobFS",
							"type": "linkedservicetype",
							"isInlineDataset": true,
							"commonDslConnectorProperties": [
								{
									"name": "allowSchemaDrift",
									"value": true
								},
								{
									"name": "inferDriftedColumnTypes",
									"value": true
								},
								{
									"name": "format",
									"value": "delimited"
								},
								{
									"name": "dateFormats",
									"value": [
										"MM/dd/yyyy",
										"dd/MM/yyyy",
										"yyyy/MM/dd",
										"MM-dd-yyyy",
										"dd-MM-yyyy",
										"yyyy-MM-dd",
										"dd.MM.yyyy",
										"MM.dd.yyyy",
										"yyyy.MM.dd"
									]
								},
								{
									"name": "timestampFormats",
									"value": [
										"yyyyMMddHHmm",
										"yyyyMMdd HHmm",
										"yyyyMMddHHmmss",
										"yyyyMMdd HHmmss",
										"dd-MM-yyyy HH:mm:ss",
										"dd-MM-yyyy HH:mm",
										"yyyy-M-d H:m:s",
										"yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'",
										"yyyy-M-d\\'T\\'H:m:s\\'Z\\'",
										"yyyy-M-d\\'T\\'H:m:s",
										"yyyy-MM-dd\\'T\\'HH:mm:ss",
										"yyyy-MM-dd HH:mm:ss",
										"yyyy-MM-dd HH:mm",
										"yyyy.MM.dd HH:mm:ss",
										"MM/dd/yyyy HH:mm:ss",
										"M/d/yyyy H:m:s",
										"yyyy/MM/dd HH:mm:ss",
										"yyyy/M/d H:m:s",
										"dd MMM yyyy HH:mm:ss",
										"dd MMMM yyyy HH:mm:ss",
										"d MMM yyyy H:m:s",
										"d MMMM yyyy H:m:s",
										"d-M-yyyy H:m:s",
										"d-M-yyyy H:m",
										"yyyy-M-d H:m",
										"MM/dd/yyyy HH:mm",
										"M/d/yyyy H:m",
										"yyyy/MM/dd HH:mm",
										"yyyy/M/d H:m",
										"dd MMMM yyyy HH:mm",
										"dd MMM yyyy HH:mm",
										"d MMMM yyyy H:m",
										"d MMM yyyy H:m",
										"MM-dd-yyyy hh:mm:ss a",
										"MM-dd-yyyy HH:mm:ss",
										"MM/dd/yyyy hh:mm:ss a",
										"yyyy.MM.dd hh:mm:ss a",
										"MM/dd/yyyy",
										"dd/MM/yyyy",
										"yyyy/MM/dd",
										"MM-dd-yyyy",
										"dd-MM-yyyy",
										"yyyy-MM-dd",
										"dd.MM.yyyy",
										"MM.dd.yyyy",
										"yyyy.MM.dd"
									]
								},
								{
									"name": "enableCdc",
									"value": true
								},
								{
									"name": "skipInitialLoad",
									"value": true
								},
								{
									"name": "columnNamesAsHeader",
									"value": true
								},
								{
									"name": "columnDelimiter",
									"value": ","
								},
								{
									"name": "quoteChar",
									"value": "\\\""
								},
								{
									"name": "escapeChar",
									"value": "\\\\"
								}
							]
						}
					}
				],
				"TargetConnectionsInfo": [
					{
						"TargetEntities": [
							{
								"name": "output2511",
								"properties": {
									"schema": [
										{
											"name": "EmpID",
											"dataType": "short"
										},
										{
											"name": "EmpName",
											"dataType": "string"
										},
										{
											"name": "DeptID",
											"dataType": "short"
										},
										{
											"name": "Salary",
											"dataType": "short"
										},
										{
											"name": "Bonus",
											"dataType": "short"
										},
										{
											"name": "Gender",
											"dataType": "string"
										},
										{
											"name": "Country",
											"dataType": "string"
										},
										{
											"name": "City",
											"dataType": "string"
										},
										{
											"name": "DOJ",
											"dataType": "string"
										},
										{
											"name": "Company",
											"dataType": "string"
										}
									],
									"dslConnectorProperties": [
										{
											"name": "container",
											"value": "output2511"
										},
										{
											"name": "fileSystem",
											"value": "output2511"
										},
										{
											"name": "allowSchemaDrift",
											"value": false
										},
										{
											"name": "inferDriftedColumnTypes",
											"value": false
										}
									]
								}
							}
						],
						"Connection": {
							"linkedService": {
								"referenceName": "ls_outputadlsgen2",
								"type": "LinkedServiceReference"
							},
							"linkedServiceType": "AzureBlobFS",
							"type": "linkedservicetype",
							"isInlineDataset": true,
							"commonDslConnectorProperties": [
								{
									"name": "allowSchemaDrift",
									"value": true
								},
								{
									"name": "inferDriftedColumnTypes",
									"value": true
								},
								{
									"name": "format",
									"value": "delimited"
								},
								{
									"name": "columnNamesAsHeader",
									"value": true
								},
								{
									"name": "columnDelimiter",
									"value": ","
								},
								{
									"name": "escapeChar",
									"value": "\\\\"
								},
								{
									"name": "quoteChar",
									"value": "\\\""
								}
							]
						},
						"DataMapperMappings": [
							{
								"targetEntityName": "output2511",
								"sourceEntityName": "input26nov",
								"sourceConnectionReference": {
									"connectionName": "ls_input1",
									"type": "linkedservicetype"
								},
								"attributeMappingInfo": {
									"attributeMappings": [
										{
											"name": "Bonus",
											"type": "Direct",
											"functionName": "",
											"attributeReference": {
												"name": "Bonus",
												"entity": "input26nov",
												"entityConnectionReference": {
													"connectionName": "ls_input1",
													"type": "linkedservicetype"
												}
											}
										},
										{
											"name": "City",
											"type": "Derived",
											"functionName": "upper",
											"expression": "upper(City)",
											"attributeReferences": [
												{
													"name": "City",
													"entity": "input26nov",
													"entityConnectionReference": {
														"connectionName": "ls_input1",
														"type": "linkedservicetype"
													}
												}
											]
										},
										{
											"name": "Company",
											"type": "Derived",
											"functionName": "trim",
											"expression": "trim(Company)",
											"attributeReferences": [
												{
													"name": "Company",
													"entity": "input26nov",
													"entityConnectionReference": {
														"connectionName": "ls_input1",
														"type": "linkedservicetype"
													}
												}
											]
										},
										{
											"name": "Country",
											"type": "Derived",
											"functionName": "upper",
											"expression": "upper(Country)",
											"attributeReferences": [
												{
													"name": "Country",
													"entity": "input26nov",
													"entityConnectionReference": {
														"connectionName": "ls_input1",
														"type": "linkedservicetype"
													}
												}
											]
										},
										{
											"name": "DeptID",
											"type": "Direct",
											"functionName": "",
											"attributeReference": {
												"name": "DeptID",
												"entity": "input26nov",
												"entityConnectionReference": {
													"connectionName": "ls_input1",
													"type": "linkedservicetype"
												}
											}
										},
										{
											"name": "DOJ",
											"type": "Direct",
											"functionName": "",
											"attributeReference": {
												"name": "DOJ",
												"entity": "input26nov",
												"entityConnectionReference": {
													"connectionName": "ls_input1",
													"type": "linkedservicetype"
												}
											}
										},
										{
											"name": "EmpID",
											"type": "Direct",
											"functionName": "",
											"attributeReference": {
												"name": "EmpID",
												"entity": "input26nov",
												"entityConnectionReference": {
													"connectionName": "ls_input1",
													"type": "linkedservicetype"
												}
											}
										},
										{
											"name": "EmpName",
											"type": "Derived",
											"functionName": "upper",
											"expression": "upper(EmpName)",
											"attributeReferences": [
												{
													"name": "EmpName",
													"entity": "input26nov",
													"entityConnectionReference": {
														"connectionName": "ls_input1",
														"type": "linkedservicetype"
													}
												}
											]
										},
										{
											"name": "Gender",
											"type": "Derived",
											"functionName": "",
											"expression": "Gender",
											"attributeReferences": [
												{
													"name": "Gender",
													"entity": "input26nov",
													"entityConnectionReference": {
														"connectionName": "ls_input1",
														"type": "linkedservicetype"
													}
												}
											]
										},
										{
											"name": "Salary",
											"type": "Direct",
											"functionName": "",
											"attributeReference": {
												"name": "Salary",
												"entity": "input26nov",
												"entityConnectionReference": {
													"connectionName": "ls_input1",
													"type": "linkedservicetype"
												}
											}
										}
									]
								}
							}
						],
						"Relationships": []
					}
				],
				"Policy": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1
					},
					"mode": "Microbatch"
				},
				"allowVNetOverride": false
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_input1')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_outputadlsgen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline return value in Set variable",
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_inputemp",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_outputemp",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "Pipeline_Name",
									"value": {
										"type": "String",
										"content": "CopyData"
									}
								},
								{
									"key": "Pipeline_Runid",
									"value": {
										"type": "Expression",
										"content": "@pipeline().RunId"
									}
								},
								{
									"key": "Pl_Name",
									"value": {
										"type": "Expression",
										"content": "@pipeline().Pipeline"
									}
								},
								{
									"key": "Adf_Name",
									"value": {
										"type": "Expression",
										"content": "@pipeline().DataFactory"
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-11-25T15:03:38Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_inputemp')]",
				"[concat(variables('factoryId'), '/datasets/ds_outputemp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Script1",
						"description": "",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_AzureSqlDatabase1",
							"type": "LinkedServiceReference",
							"parameters": {
								"dbname": "Practice_db"
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "INSERT into adf_pipeline_log\nValues('@{activity('Execute Pipeline1').output.pipelineReturnValue.Pipeline_Name}',\n'@{activity('Execute Pipeline1').output.pipelineReturnValue.Pipeline_Runid}',\n'@{activity('Execute Pipeline1').output.pipelineReturnValue.Pl_Name}',\n'@{activity('Execute Pipeline1').output.pipelineReturnValue.Adf_Name}')",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-11-25T15:19:23Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Copy Pipeline')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSqlDatabase1')]"
			]
		}
	]
}