pipeline/Main.json
{
	"name": "Main",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Script1",
				"description": "",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase1",
					"type": "LinkedServiceReference",
					"parameters": {
						"dbname": {
							"value": "@pipeline().parameters.db_name",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "INSERT into adf_pipeline_log\nValues('@{activity('Execute Pipeline1').output.pipelineReturnValue.Pipeline_Name}',\n'@{activity('Execute Pipeline1').output.pipelineReturnValue.Pipeline_Runid}',\n'@{activity('Execute Pipeline1').output.pipelineReturnValue.Pl_Name}',\n'@{activity('Execute Pipeline1').output.pipelineReturnValue.Adf_Name}')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"db_name": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-11-25T15:19:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}